In [2]:
import numpy as np
import pandas as pd
import matplotlib

In [3]:
raw_data= pd.read_csv(r"C:\Users\amali\OneDrive\Desktop\Programming\new_programming\AVsurvey(1).csv")

In [4]:
raw_data.columns

Index(['participant_id', 'maxpay', 'maxfare_1', 'maxfare_2', 'maxfare_3',
       'maxfare_4', 'maxfare_5', 'maxfare_7', 'conf_right', 'conf_safetech',
       'conf_safe', 'supportl_dv_1', 'supportl_dv_2', 'supportl_dv_3',
       'supportl_dv_4', 'supportl_dv_5', 'supportl_dv_6',
       'acc_blame_programmer', 'acc_blame_company', 'acc_blame_govt',
       'acc_blame_other', 'acc_blame_other_text', 'reg_focus_safety',
       'reg_focus_innovation', 'reg_focus_other', 'reg_focus_other_text',
       'company_purchase_tesla', 'company_purchase_gm',
       'company_purchase_toyota', 'company_purchase_google',
       'company_purchase_apple', 'company_purchase_uber',
       'company_purchase_lyft', 'opinions', 'future', 'you_alone',
       'friends_alone', 'family_alone', 'stranger_alone', 'you_pass',
       'friends_pass', 'family_pass', 'stranger_pass', 'benefits_oe',
       'risks_oe', 'media', 'drive', 'taxi', 'publictransit', 'bike', 'attn2',
       'firstmover_1', 'firstmover_2', 'firstmover_3', 'firstmover_4',
       'firstmover_5', 'firstmover_6r', 'race', 'edu', 'status.x', 'age',
       'Employment.Status', 'Sex', 'Country.of.Birth', 'First.Language',
       'Ethnicity', 'Current.Country.of.Residence', 'Student.Status',
       'Nationality'],
      dtype='object')

In [ ]:
raw_data.describe()

In [19]:
# Control
raw_data['maxfare_4'].unique()
# Mistakes in the Data, slider not placed at 20
raw_data[raw_data['maxfare_4']!=20]['participant_id']

115    5c106eb4ce422b0001d64776
225    5d41f83cc383b5001aa2c931
Name: participant_id, dtype: object

In [6]:
raw_data[['maxfare_1', 'maxfare_2']].mean()

maxfare_1    11.264108
maxfare_2     8.523702
dtype: float64

In [26]:
# Question 1: Do consumers have a higher WTP for private rides driven by a human or autonomously?
raw_data[['maxfare_1', 'maxfare_2']].drop([115,225]).describe()

        maxfare_1   maxfare_2
count  441.000000  441.000000
mean    11.258503    8.541950
std      6.896727    7.235247
min      0.000000    0.000000
25%      7.000000    4.000000
50%     10.000000    8.000000
75%     15.000000   12.000000
max     40.000000   40.000000

In [90]:
# Question 2: How do consumersâ€™ WTP for rides driven autonomously vary by their own tech savviness?
raw_data.groupby('firstmover_1')[['maxfare_1','maxfare_2']].mean().sort_values(by='maxfare_2')

                            maxfare_1  maxfare_2
firstmover_1
Strongly disagree            9.823529   3.764706
Disagree                    10.882353   5.794118
Somewhat disagree           12.023529   8.800000
Neither agree nor disagree  10.970297   9.009901
Somewhat agree              11.109756   9.500000
Agree                       11.464286  10.625000
Strongly agree              13.866667  14.200000

In [ ]:
raw_data[['Age_Group','age']]

In [40]:
# How do customersâ€™ WTP for AV-based rides vary by their gender or age group?
func = lambda x: 'Under 30' if x < 30 else ('30-65' if x < 65 else 'Over 65')
raw_data['Age_Group'] = raw_data['age'].apply(func)
raw_data.groupby(['Age_Group','Sex'])['maxfare_2'].describe().sort_values(by='mean', ascending=False)[['mean','std']]

                       mean       std
Age_Group Sex
Under 30  Male    12.957447  8.021594
          Female   9.386364  6.783070
30-65     Female   8.414634  7.167499
          Male     7.958333  6.474768
Over 65   Male     7.171429  5.938339
          Female   5.125000  8.338600

In [51]:
# Which companies do consumers prefer to be the leaders in the AV industry? 
# pd.DataFrame(raw_data[['company_purchase_tesla', 'company_purchase_gm','company_purchase_toyota', 
#                        'company_purchase_google','company_purchase_apple', 'company_purchase_uber','company_purchase_lyft']].mean().sort_values(ascending=True), columns=['average_ranking'])

# How do consumersâ€™ preferences change if they are very tech savvy vs. not very tech savvy?
raw_data['tech_savvy'] = raw_data['firstmover_1'].apply(lambda x: 'Not Tech Savvy' if (x == 'Disagree' or x == 'Strongly Disagree') else ('Tech Savvy' if (x == 'Agree' or x == 'Strongly Agree') else 'Neutral'))
raw_data.groupby('tech_savvy')[['company_purchase_tesla', 'company_purchase_gm','company_purchase_toyota', 'company_purchase_google','company_purchase_apple', 'company_purchase_uber','company_purchase_lyft']].mean().transpose().sort_values(by='Tech Savvy')

tech_savvy                Neutral  Not Tech Savvy  Tech Savvy
company_purchase_tesla   2.186885        2.769231    1.800000
company_purchase_toyota  2.452459        2.184615    3.018182
company_purchase_google  4.022951        4.646154    3.800000
company_purchase_gm      3.590164        3.153846    3.872727
company_purchase_apple   4.386885        4.646154    4.400000
company_purchase_uber    5.662295        5.261538    5.472727
company_purchase_lyft    5.698361        5.338462    5.636364

In [ ]:
# What kind of initial scaling strategy do the data support? Which customer segments would you prioritize first? What form of autonomous vehicles service would you offer?

In [60]:
# Are people more concerned by AVsâ€™ decision-making in ethical dilemmas or AVsâ€™ ability to keep passengers safe?
raw_data[['conf_right','conf_safe']].mode()

           conf_right           conf_safe
0  Not very confident  Somewhat confident

In [86]:
# How do consumersâ€™ WTP change with their confidence in the capacity of AV to keep them safe? 
pd.DataFrame(raw_data.groupby(['Age_Group','Sex','conf_safe'])['maxfare_2'].describe().sort_values('mean')['mean']).rename({'mean': 'WTP'}, axis=1)
# And how does it change with their confidence in AV to make the right choice in ethical dilemmas?
# pd.DataFrame(raw_data.groupby('conf_right')['maxfare_2'].describe().sort_values('mean')['mean']).rename({'mean': 'WTP'}, axis=1)

                                             WTP
Age_Group Sex    conf_safe
30-65     Male   Not confident at all   1.222222
Over 65   Male   Not confident at all   1.500000
          Female Not confident at all   1.571429
          Male   Not very confident     2.714286
Under 30  Male   Not confident at all   3.000000
          Female Not confident at all   3.000000
Over 65   Female Not very confident     3.083333
          Male   Completely confident   4.000000
30-65     Female Not confident at all   4.695652
          Male   Not very confident     5.440000
          Female Not very confident     7.500000
Under 30  Female Not very confident     7.800000
30-65     Male   Somewhat confident     8.020408
Over 65   Female Somewhat confident     8.416667
          Male   Somewhat confident     8.947368
                 Very confident         9.166667
30-65     Female Somewhat confident     9.169014
Under 30  Female Somewhat confident    10.285714
          Male   Not very confident    10.571429
30-65     Male   Completely confident  11.000000
                 Very confident        11.250000
Under 30  Female Very confident        11.888889
          Male   Very confident        12.588235
30-65     Female Very confident        13.500000
Under 30  Male   Somewhat confident    13.950000
Over 65   Female Very confident        15.000000
Under 30  Male   Completely confident  19.500000

In [64]:
# Who do consumers generally think should regulate the AV industry?
raw_data['opinions'].mode()

0    Experts in technology
Name: opinions, dtype: object

In [80]:
# How do consumers think blame should be distributed if an accident were caused by an AV?
pd.DataFrame(raw_data.drop(115,[['acc_blame_programmer', 'acc_blame_company', 'acc_blame_govt', 'acc_blame_other']].mean().sort_values(ascending=False)).rename({0:r'average considered %responsibility'}, axis=1)

                      average considered %responsibility
acc_blame_company                              43.077098
acc_blame_programmer                           40.700680
acc_blame_govt                                 10.596372
acc_blame_other                                 5.625850

In [ ]:
# How would you characterize consumersâ€™ concerns about autonomous vehicles? How might the ethical concerns voiced by survey respondents conflict with the strategy you identified in Objective A? (please answer with 2-4sentences)

In [9]:
raw_data[['maxfare_1', 'maxfare_2','maxfare_4']]

     maxfare_1  maxfare_2  maxfare_4
0           10          5         20
1            8         12         20
2           20          0         20
3            0          0         20
4           10         10         20
..         ...        ...        ...
438         20         15         20
439         15         10         20
440         10          8         20
441         11          3         20
442         17         15         20

[443 rows x 3 columns]